/* DEBUT DU RESET */
*{
	box-sizing: border-box;  /*ça bloque l'élement, le recentre et ça fait une marge*/
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*FIN DU RESET*/


body{
    /*background-image:linear-gradient(rgb(19, 58, 0), rgb(0, 129, 0));*/
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

/*  DEBUT HEADER  */
header{
    background-image:linear-gradient(rgb(23, 37, 22), rgb(28, 88, 0));
    height: 250px;
}

#logo{
    width: 20%;
    text-align: center;
    padding: 15px 10px;
    float: left;  
}

#rs{
    width: 5%;
    float: right;
    padding:10px ;
}

    #rs a{
        font-size: 30px;
        color: rgb(127, 255, 110);
        display: block;
        text-align: center;
        padding: 15px 30px 0 0;
        text-decoration:none;
    }

        #rs a:hover{
            font-size: 50px;
            transition: 0.8s;
            color: rgb(207, 250, 178);
        }

/* FIN HEADER */


/*   NAVIGATION  */

nav{
    background-color: rgb(0, 31, 0);
    border-bottom: 4px solid black;
    text-align: center;
    padding: 17px;
}

    nav a{
        text-decoration:none;
        font-size: 22px;
        color:rgb(111, 252, 30);
        font-weight: 500;
        border: 1px solid rgb(35, 150, 0);
        padding: 6px 9px;
        border-radius: 7px;
        margin: 0px 8px;
    }

        nav a:hover{
            background-color: rgb(17, 68, 1);
            transition: 0.8s;
        }

        .activ{
            background:rgb(17, 68, 1);
        }

/**************  FIN NAVIGATION  *****************/

/**************  TITRES ET BASE PAGE  *****************/
h1{
    font-size:80px;
    color:#43fa2e;
    font-family: 'Slabo', serif;
    margin-top: 50px;
    text-align: center;
    font-weight: 400;
    display: inline;
}

h2{
    font-size:50px;
    color:#3fad30;
    font-weight: bold;
    font-family: 'Slabo', serif;
    padding: 20px;
}

h3{
    font-size: 22px;
    color:#3fad30;
    padding: 15px;
    font-family: 'Slabo', serif;
}

h5{
    font-size: 85px;
    color:#1bc404;
    padding: 20px;
    font-weight: bold;
    font-family: 'Slabo', serif;


}

blockquote{
    font-style: italic;
    font-size: 120%;
}

strong{
    font-weight: bold;
}

main{
background-color:rgb(0, 32, 1);
box-shadow: 5px 5px 50px #000;
width: 1200px;
margin: 0 auto;
border: 1px solid black;
}

aside{
    height:300px;
    background-color: #051404;
}

section{
    margin-top: 50px;
    padding: 20px;
}

/***************SELECTEURS***************/
.select p{
    color: white;
}

    .select p:first-of-type{
        color: greenyellow;
    }

    .select p:nth-of-type(5), .select p:nth-of-type(6){
        color: green;
    }

    .select p:last-of-type{
        color: darkgreen;
    }

    .zoneA{
        color: greenyellow;
    }
    .zoneB{
        color:rgb(107, 243, 107);
    }
    #zoneC{
        color:lightgreen;
    }
    #zoneD{
        color: green;
    }
    .couleurnull{
        color: rgb(0, 82, 0);
    }

    /*********************FIN SELECTEURS**********************/

    /************************* IMAGES *************************/ 
    
main .bgimg{
    background: #000 url(../img/fond.jpg) no-repeat;
    background-size:cover;

}
.bgimg h3{
    color: rgb(210, 252, 214);
    font-weight: bold;
    font-size: 30px;
}

.bgimg p{
    width:75%;
    margin: 100px auto 200px auto; /* auto permet de centrer*/
    background: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 20px;
    font-size:120%;
    border-radius: 10px;
}

section .feeverte{
    width: 250px;
    margin: 0 auto;
    display: block;
    border: 4px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}

section.sirene{
    width: 800px;
    margin: auto;
}

.image{
    text-align: center;
    width: 250px;
    margin-left: 100px;
    border: 4px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}
.image:hover{
    transform: rotate(20deg);
    transition: 0.8s;
}

.rotation{
    width: 250px;
    margin: auto;
    display: block;
    border: 4px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}

.rotation:hover{
    transition: 1s;
    transform: rotate(360deg);
}


/******************* FIN PAGE IMAGE *****************/

/********************** POSITION **********************/

.razer{
    margin: 0 auto;
    width: 500px;
    background: #0c5807;
    text-align:center;
    line-height: 180px;
    font-size:50px;
    font-style: italic;
    color: rgb(71, 255, 47);
}

.relative{
    background: green;
    width: 500px;
    height:500px;
    position: relative;
    bottom: 50px;
    margin: 0 auto;
}

.relative div{
    position: absolute;
    bottom:10px;
    width: 50px;
    height:50px;
    background: #5cfd4a;
}

.trente{
    width: 30%;
    padding: 20px;
    font-size: 22px;
    background:#0c5807;
    font-weight:bold;
}

.cinquante{
    width: 50%;
    padding: 20px;
    font-size: 22px;
    background: #1bc404;
    font-weight: bold;
    margin-top: 10px;
}
 .cent{
    width: 100%;
    padding: 20px;
    font-size: 22px;
    background: #6dfd5d;
    font-weight: bold;
    margin-top: 10px;
 }

 .carre{
     width: 170px;
     height: 170px;
     background: lightgreen;
     border: 3px solid #0c5807;
     margin:10px;
     float: left;
     text-align: center;
     font-size: 25px;
     color: black;
     line-height: 150px;
     box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
 }

 .carre:hover {
    background-color:rgb(0, 32, 1);
     border: 15px solid limegreen;
     transition: 0.8s;
     transform: rotate(45deg);
     border-radius: 90px;
 }

.float2{
    margin: 0 auto;
    width: 100%;
}

.rect{
    height: 40px;
    background: rgb(121, 248, 121);
}

.c1, .c2, .c3, .c4{
    width: 25%;
    height: 250px;
    float: left;
}

.c1{
    background: #093f05
}

.c2{
    background: #139202;
}

.c3{
    background: #339227;
}

.c4{
    background: #30b921;
}

.clear{
    clear: both;
}

/* Le flex*/
.flex{
    display: flex;
    /* justify-content: space-around; les éléments s'affichent avec un espace egal autour d'eux*/
    justify-content: space-around;
    flex-direction: row;/* s'inverse sur la rangée*/
}

.flex div{
    width: 150px;
    height: 150px;
    background: lightgreen;
    border: 3px solid #0c5807;
    text-align: center;
    font-size: 50px;
    color: black;
}
/********************** FIN POSITION *********************************/
/**************************** ZONING *********************************/
/* zoning 1*/
.contenu{
    border: 4px solid black;
    width: 100%;
    height:510px;
    margin: 0;
    padding: 0;
}

.haut{
    height: 50px;
    width: 100%;
    background: #1e910a;
}

.gauche{
    height: 450px;
    width: 30%; 
    background: #38a02a;
    float: left;
}

.droite{
    height: 450px;
    width:70%;
    background: #57af2f;
    float: right;
}

/* zoning 2*/
.hb1{
    height: 50px;
    width: 100%;
    background: #1e910a;
}
.d1{
    height: 450px;
    width:20%;
    background: #38a02a;
    float: right;
}

.m1{
    height: 450px;
    width: 60%; 
    background: #57af2f;
    float: left;  
}
.g1{
    height: 450px;
    width: 20%; 
    background: #38a02a;
    float: left;
}

/* zoning 3 */
.g2{
    height: 450px;
    width: 50%; 
    background: #57af2f;
    float: left;
}

.d2{
    height: 450px;
    width:50%;
    background: #38a02a;
    float: right;
}

.hb2{
    height: 50px;
    width: 100%;
    background: #1e910a;
    clear:both;
}

/* zoning 4   pas fini!!!  */   


/************************* LES LISTES ******************************/

.contenair{
    margin: 50px;

}
.fruit li{
    list-style: none;
    display: inline;
}

.fa-arrow-right{
    color: lightgreen;
}
.continent{
    list-style: none;
    transition-duration: 0.5s;
}

.pays{
    list-style: circle;
    transition-duration: 0.5s;
}

.pays:hover, .continent:hover{
    font-size:30px;
}
/************************* FIN DES LISTES ******************************/

/************************* LIENS ET MENUS ******************************/

.ancre{
    text-align: center;
    text-decoration: none;
}

.ancre hr{
    color: #051404;
    margin: 30px;
}

.ancre a{
    border: 1px solid #43fa2e;
    background-color: #093f05;
    color: #43fa2e;
    border-radius: 7px;
    padding: 5px 20px;
    margin:30px;
}

#rs a{
    text-decoration: none;
    color: #1bc404;
    transition-duration: 0.5s;
}
a:hover{
    font-size:20px;
    color:rgb(207, 250, 178);
}

p{
    color: rgb(181, 253, 147);
}

#facebookv{
    width:70px;
    height: auto;
    transition-duration: 0.5s;
}
#facebookv:hover{
    transform: scale(1.5);
    color:rgb(207, 250, 178);
}

.menu{
    color: #051404;
    margin: 30px;
    text-align: center;
}

#amenu{
    text-align: left;
}

.menu a{
    border: 1px solid #43fa2e;
    background-color: #093f05;
    color: #43fa2e;
    border-radius: 7px;
    padding: 5px 20px;
    margin:30px;    
}

.menu a:hover{
    font-size:20px;
    color:rgb(207, 250, 178);
}

.menuderoulant{
    color: #051404;
    margin: 30px 30px 250px 30px;
    text-align: center; 
}

    .menuderoulant ul li{
        list-style: none;
        display: inline-block;
        position: relative;
    }

        .menuderoulant ul li > ul{
            list-style: none;
            display: none;
            background-color: #051404;
            border: 2px solid #43fa2e;
            border-radius: 7px;
            position: absolute;
            top: 35px;
            left: 0;
            width: 200px;
            transform: translate(-12%);
        }

        .menuderoulant ul li:hover ul{
            display: inline-block;
        }

            .menuderoulant ul li > ul li{
                list-style: none;
                display: block;
                border-bottom: 1px solid #43fa2e;
                /* margin: 15px 0; */
                padding: 15px 0;

            }
            .menuderoulant ul li > ul li:hover{
                background-color: #093f05;

            }

                .menuderoulant ul li > ul li a{
                    background-color: transparent;
                    border: none;
                    transition: none;
                    margin: 0;
                    padding: 0;
                }

                    .menuderoulant ul li > ul li a:hover{
                        font-size:100%;
                    }

    #amenuderoulant{
        text-align: left;

    }

        .menuderoulant a{
            border: 1px solid #43fa2e;
            background-color: #093f05;
            color: #43fa2e;
            border-radius: 7px;
            padding: 5px 20px;
            margin:30px;
        }
/************************* FIN LIENS ******************************/

/************************* TABLEAUX ******************************/
caption i{
    display: none;
}

table{
    border: 3px solid #051404;
    text-align: center;
    margin: 25% 25%;

    color: rgb(207, 250, 178);
    border-collapse: collapse;
    
}

tfoot td, thead th{
    background-color: #0c5807;
    width: 180px;
    border: 1px solid #051404; 
}

tbody{
    background-color: #139202;
}
tbody td{
    border: 1px solid #051404;
 
}

/************************* FIN TABLEAUX ******************************/

/************************* FORMULAIRES ******************************/

form{
    border: 2px  solid #051404;
    border-radius: 14px;
    background-color: #093f05;
    width: 65%;
    margin: auto;
    padding: 20px;
}



label{
    color:rgb(207, 250, 178);
    margin: 10px 0;
    width: 50%;
    display: inline-block;
}


form input:nth-of-type(5){
    border: none;
    border: 1px solid #139202;
}
form input:nth-of-type(8){
    border: none;
    border: 1px solid #139202;
}

input:nth-of-type(7){
    border: none;
    border: 1px solid #139202;
}

label [for="question"]{
    width: 10%;
}

label .label_message{

}

textarea{
    resize: none;
    display: inline-block;

}

/************************ FIN FORMULAIRES ***************************/

/************************* ANIMATION ******************************/

.infobulle{
    background-color: #051404;
    border: 2px solid #0c5807;
    width: 65%;
    height: 300px;
    margin: auto;
    box-shadow: 0 0 50px #0c5807 inset 
}

.infobulle a{
    color: #1bc404;
    text-shadow: 0 -2px 0 #000000;
    text-align: center;
    border-radius: 3px;
    margin: 50px;
    display: block;
    transition-duration: 0.5s;
}

.infobulle a:hover{
    background-color: #093f05;
    color: #051404;
    text-shadow: 0 1px 2px #7aff0d;
    box-shadow: 0 1px 0 #38a02a;
    width: auto;
    padding: 10px 20px;
    font-size: 100%;
}

.infobulle a span{
    position: absolute;
    padding: 15px;
    margin-top: 23px;
    margin-left: -35px;
    background-color: #43fa2e;
    opacity: 0;
    color: #051404;
    transform: scale(0) rotateZ(-12deg);
    transition: .25s;
    border-radius: 3px;
    box-shadow: 0 0 2px #38a02a;
}

.infobulle a:hover span{
    opacity: 1;
    transform: scale(1) rotateZ(0);
}

.infobulle a span:before{
    content:'';
    position: absolute;
    top: -6px;
    left: 10px;
    border-bottom: 6px solid rgba(0,0,0,.9);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

/* Les logos de marques*/
.imgeffets{
    width: 320px;
    height: 320px;
    margin: 70px auto;
}
 
 .imgeffets li{
    list-style: none;
    float: left;
    width: 141px;
    height: 150px;
    margin: 5px;
 }
 
 .imgeffets li:nth-child(3){
    clear: both;
 }
 
 .imgeffets img{
    position: absolute;
    z-index: 1;
    height: 150px;
    box-shadow: 0 0 3px black;
    transition: .5s cubic-bezier(0,3,.4,1);
 }
 
 .imgeffets li:hover img{
    z-index: 2;
    transform: scale(1.5);
    box-shadow: 0 0 10px black;
 }
 
 .imgeffets:hover li:not(:hover) img{
    filter: grayscale(1) blur(8px);
 }
/*
.infobulle{
    height: 250px;
    width: 500px;
    margin: auto;
    padding-top: 15px;
    background: slategray;
    box-shadow: 0 0 50px #222 inset effet à l'intérieur de l'élément
}
.infobulle p{
    text-align: center;
    padding-top: 30px;
}
.infobulle a{
    color: white;
    text-shadow: 0 -2px 0 black;
    text-decoration: none;
    border-radius: 3px;
    padding:5px 15px;
}
.infobulle a:hover{
    text-shadow: 0 1px 2px black;
    background: rgba(0,0,0,0.4);
    box-shadow: 0 1px 0 rgba(255,255,255,0.4);
    color: white;
}
.infobulle a span{
    position: absolute;
    padding: 15px;
    margin-top: 23px;
    margin-left: -35px;
    background: rgba(0,0,0,0.9);
    opacity: 0;
    color: pink;
    transform: scale(0) rotateZ(-12deg);
    transition: .25s;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}
.infobulle a:hover span{
    opacity: 1;
    transform: scale(1) rotateZ(0);
}
.infobulle a span:before{
    content:'';
    position: absolute;
    top: -6px;
    left: 10px;
    border-bottom: 6px solid rgba(0,0,0,.9);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
*/

/* Le menu déroulant*/
/* 
#menurotate{
    height: 360px;
    width: 576px;
    margin: 100px auto;
    background-color:  #093f05;
    position: relative; /*absolute si par rapport u body sauf si son parent est en relative
    overflow: hidden;
    border: 2px solid black;
}

#menurotate .masque{
    position: absolute;
    z-index: 50;
    width: 585px;
    height: 135px;
    top: 0;
    left: 0;
    background-color:#093f05;
}

#menurotate .ombre{
    position: absolute;
    z-index: 40;
    width: 300px;
    height: 6px;
    box-shadow: 0px 100px 3px black;
    border-radius: 75px / 3px; /*rayon horizontaux / rayon verticaux
    top: 32px;
    left: 142px;
}

#menurotate dl{
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 155px;
    color:white;
    text-align: center;
    background-color: #30b921;
}

#menurotate dt{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-top: 5px;
}

#rotate dd{
    transform:rotate(180deg);
}

#menurotate dd a{
    display: block;
    height: 24px;
    padding: 3px 0;
    color: black;
    text-decoration: none;
}

#menurotate dd a:hover{
    background: greenyellow;
}

#menurotate dl:hover{
    transform: rotate(-180deg);
    animation: bounceIn 0.7s ease-in-out;
}

@keyframes bounceIn{
    from{transform: rotate(0deg);}
    75%{transform: rotate(-200deg);}
    90%{transform: rotate(-175deg);}
    to{transform: rotate(-180deg);}
}

@keyframes bounceIn{
    from{transform: rotate(0deg);}
    0%{transform: rotate(-180deg);}
    10%{transform: rotate(-165deg);}
    to{transform: rotate(-360deg);}
} */
#menuRotate{
	height: 360px;
	width: 576px;
	margin: 100px auto;
	background: #093f05;
	position: relative; /*absolute en foncction du body sauf si son parent est en relative*/
	overflow: hidden;
	border: 2px solid rgb(0, 0, 0);
}
#menuRotate .masque{
	position: absolute;
	z-index: 50;
	width: 585px;
	height: 135px;
	top: 0;
	left: 0;
	background-color:#093f05;
}
#menuRotate .ombre{
	position: absolute;
	z-index: 40;
	width: 300px;
	height: 6px;
	box-shadow: 0px 100px 3px black;
	border-radius: 75px / 3px; /*rayon horizontaux / rayon verticaux*/
	top: 32px;
	left: 142px;
}
#menuRotate dl{
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -75px;
	width: 150px;
	height: 155px;
	color: black;
	text-align: center;
	background: greenyellow;
	border-radius: 4px;
	box-shadow: 0 0 6px rgba(0,0,0,0.7);
	transform-origin: 50% 120px;
	animation: bounceOut 0.7s ease-in-out;
}
#menuRotate dt{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	padding-top: 5px;
}
#menuRotate dd{
	transform: rotate(180deg);
}
#menuRotate dd a{
	display: block;
	height: 24px;
	padding: 3px 0;
	color: black;
	text-decoration: none;
}
#menuRotate dd a:hover{
	background: rgba(255,255,255,0.1);
}
#menuRotate dl:hover{
	transform: rotate(-180deg);
	animation: bounceIn 0.7s ease-in-out;
}
@keyframes bounceIn{
	from{transform: rotate(0deg);}
	75%{transform: rotate(-200deg);}
	90%{transform: rotate(-175deg);}
	to{transform: rotate(-180deg);}
}
@keyframes bounceOut{
	from{transform: rotate(0deg);}
	0%{transform: rotate(-180deg);}
	10%{transform: rotate(-165deg);}
	to{transform: rotate(-360deg);}
}
/************************* FIN ANIMATION ******************************/

/************************* LES FIGCAPTION ***************************/

.text{
    border: 1px solid greenyellow;
    padding: 30px;
}

.text ol li{
    list-style-type: upper-roman;    
}

figure{
    text-align: center;
}

/*********************** FIN FIGCAPTION ****************************/

/************************* MULTIMEDIA ******************************/

.videofond{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 150px; 
}

.videofond video{
    position: absolute;
    z-index: 1;
    width: 100%
}

.videotext{
    position: relative;
    width: 100%;
    height: 500px;;
}

.videofond p{
    position: absolute;
    z-index: 2;
    width: 500px;
    margin: auto;
    background: #05140486;
    left: 350px;
    top: 130px;
    padding: 20px;
    font-size: 120%;
    border-radius: 10px;
}

iframe[allowfullscreen]{/* pour la vidéo et la map je l'ai appelé par un attribut*/
    width: 100%;
}

.audio{
    text-align: center;
}
/*********************** FIN MULTIMEDIA ****************************/

/*********************** FANCYBOX****************************/


.fancy a img{
    margin: auto;
}

a{
    text-decoration: none;
    outline: none;
}
/************************* BAS DE PAGE ******************************/
button{
    position: fixed;
    background: transparent;
    right: 20px;
    cursor: pointer;
    font-size: 350%;
    color: rgb(39, 255, 1);
    border: none;
    bottom: 40px;
}
    button:hover{
        color: rgb(184, 253, 81);
        transition: 0.8s;
    }

footer{
    background-color: black;
    height: 30px;
    clear: both;
}






