/* DEBUT DU RESET */
*{
	box-sizing: border-box;  /*ça bloque l'élement, le recentre et ça fait une marge*/
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*FIN DU RESET*/


body{
    /*background-image:linear-gradient(rgb(19, 58, 0), rgb(0, 129, 0));*/
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

/*  DEBUT HEADER  */
header{
    background-image:linear-gradient(rgb(23, 37, 22), rgb(28, 88, 0));
    height: 250px;
}

#logo{
    width: 20%;
    text-align: center;
    padding: 15px 10px;
    float: left;  
}

#rs{
    width: 5%;
    float: right;
    padding:10px ;
}

    #rs a{
        font-size: 30px;
        color: rgb(127, 255, 110);
        display: block;
        text-align: center;
        padding: 15px 30px 0 0;
        text-decoration:none;
    }

        #rs a:hover{
            font-size: 50px;
            transition: 0.8s;
            color: rgb(207, 250, 178);
        }

/* FIN HEADER */


/*   NAVIGATION  */

nav{
    background-color: rgb(0, 31, 0);
    border-bottom: 4px solid black;
    text-align: center;
    padding: 17px;
}

    nav a{
        text-decoration:none;
        font-size: 22px;
        color:rgb(111, 252, 30);
        font-weight: 500;
        border: 1px solid rgb(35, 150, 0);
        padding: 6px 9px;
        border-radius: 7px;
        margin: 0px 8px;
    }

        nav a:hover{
            background-color: rgb(17, 68, 1);
            transition: 0.8s;
        }

        .activ{
            background:rgb(17, 68, 1);
        }

/**************  FIN NAVIGATION  *****************/

/**************  TITRES ET BASE PAGE  *****************/
h1{
    font-size:80px;
    color:#43fa2e;
    font-family: 'Slabo', serif;
    margin-top: 50px;
    text-align: center;
    font-weight: 400;
    display: inline;
}

h2{
    font-size:50px;
    color:#3fad30;
    font-weight: bold;
    font-family: 'Slabo', serif;
    padding: 20px;
}

h3{
    font-size: 22px;
    color:#3fad30;
    padding: 15px;
    font-family: 'Slabo', serif;
}

h5{
    font-size: 85px;
    color:#1bc404;
    padding: 20px;
    font-weight: bold;
    font-family: 'Slabo', serif;


}

blockquote{
    font-style: italic;
    font-size: 120%;
}

strong{
    font-weight: bold;
}

main{
background-color:rgb(0, 32, 1);
box-shadow: 5px 5px 50px #000;
width: 1200px;
margin: 0 auto;
border: 1px solid black;
}

aside{
    height:300px;
    background-color: #051404;
}

section{
    margin-top: 50px;
    padding: 20px;
}

/***************SELECTEURS***************/
.select p{
    color: white;
}

    .select p:first-of-type{
        color: greenyellow;
    }

    .select p:nth-of-type(5), .select p:nth-of-type(6){
        color: green;
    }

    .select p:last-of-type{
        color: darkgreen;
    }

    .zoneA{
        color: greenyellow;
    }
    .zoneB{
        color:rgb(107, 243, 107);
    }
    #zoneC{
        color:lightgreen;
    }
    #zoneD{
        color: green;
    }
    .couleurnull{
        color: rgb(0, 82, 0);
    }

    /*********************FIN SELECTEURS**********************/

    /************************* IMAGES *************************/ 
    
main .bgimg{
    background: #000 url(../img/fond.jpg) no-repeat;
    background-size:cover;

}
.bgimg h3{
    color: rgb(210, 252, 214);
    font-weight: bold;
    font-size: 30px;
}

.bgimg p{
    width:75%;
    margin: 100px auto 200px auto; /* auto permet de centrer*/
    background: rgba(255, 255, 255, 0.6);
    color: black;
    padding: 20px;
    font-size:120%;
    border-radius: 10px;
}

section .feeverte{
    width: 250px;
    margin: 0 auto;
    display: block;
    border: 4px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}

section.sirene{
    width: 800px;
}

.image{
    width: 250px;
    margin-left: 100px;
    border: 4px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}
.image:hover{
    transform: rotate(20deg);
    transition: 0.8s;
}

.rotation{
    width: 250px;
    margin-left: 100px;
    display: block;
    border: 4px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}

.rotation:hover{
    transition: 1s;
    transform: rotate(360deg);
}


/******************* FIN PAGE IMAGE *****************/

/********************** POSITION **********************/

.razer{
    margin: 0 auto;
    width: 500px;
    background: #0c5807;
    text-align:center;
    line-height: 180px;
    font-size:50px;
    font-style: italic;
    color: rgb(71, 255, 47);
}

.relative{
    background: green;
    width: 500px;
    height:500px;
    position: relative;
    bottom: 50px;
    margin: 0 auto;
}

.relative div{
    position: absolute;
    bottom:10px;
    width: 50px;
    height:50px;
    background: #5cfd4a;
}

.trente{
    width: 30%;
    padding: 20px;
    font-size: 22px;
    background:#0c5807;
    font-weight:bold;
}

.cinquante{
    width: 50%;
    padding: 20px;
    font-size: 22px;
    background: #1bc404;
    font-weight: bold;
    margin-top: 10px;
}
 .cent{
    width: 100%;
    padding: 20px;
    font-size: 22px;
    background: #6dfd5d;
    font-weight: bold;
    margin-top: 10px;
 }

 .carre{
     width: 170px;
     height: 170px;
     background: lightgreen;
     border: 3px solid #0c5807;
     margin:10px;
     float: left;
     text-align: center;
     font-size: 25px;
     color: black;
     line-height: 150px;
     box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
 }

 .carre:hover {
    background-color:rgb(0, 32, 1);
     border: 15px solid limegreen;
     transition: 0.8s;
     transform: rotate(45deg);
     border-radius: 90px;
 }

.float2{
    margin: 0 auto;
    width: 100%;
}

.rect{
    height: 40px;
    background: rgb(121, 248, 121);
}

.c1, .c2, .c3, .c4{
    width: 25%;
    height: 250px;
    float: left;
}

.c1{
    background: #093f05
}

.c2{
    background: #139202;
}

.c3{
    background: #339227;
}

.c4{
    background: #30b921;
}

.clear{
    clear: both;
}

/* Le flex*/
.flex{
    display: flex;
    /* justify-content: space-around; les éléments s'affichent avec un espace egal autour d'eux*/
    justify-content: space-around;
    flex-direction: row;/* s'inverse sur la rangée*/
}

.flex div{
    width: 150px;
    height: 150px;
    background: lightgreen;
    border: 3px solid #0c5807;
    text-align: center;
    font-size: 50px;
    color: black;
}
/********************** FIN POSITION *********************************/
/**************************** ZONING *********************************/
/* zoning 1*/
.contenu{
    border: 4px solid black;
    width: 100%;
    height:510px;
    margin: 0;
    padding: 0;
}

.haut{
    height: 50px;
    width: 100%;
    background: #1e910a;
}

.gauche{
    height: 450px;
    width: 30%; 
    background: #38a02a;
    float: left;
}

.droite{
    height: 450px;
    width:70%;
    background: #57af2f;
    float: right;
}

/* zoning 2*/
.hb1{
    height: 50px;
    width: 100%;
    background: #1e910a;
}
.d1{
    height: 450px;
    width:20%;
    background: #38a02a;
    float: right;
}

.m1{
    height: 450px;
    width: 60%; 
    background: #57af2f;
    float: left;  
}
.g1{
    height: 450px;
    width: 20%; 
    background: #38a02a;
    float: left;
}

/* zoning 3 */
.g2{
    height: 450px;
    width: 50%; 
    background: #57af2f;
    float: left;
}

.d2{
    height: 450px;
    width:50%;
    background: #38a02a;
    float: right;
}

.hb2{
    height: 50px;
    width: 100%;
    background: #1e910a;
    clear:both;
}

/* zoning 4   pas fini!!!  */   


/************************* LES LISTES ******************************/

.contenair{
    margin: 50px;

}
.fruit li{
    list-style: none;
    display: inline;
}

.fa-arrow-right{
    color: lightgreen;
}
.continent{
    list-style: none;
    transition-duration: 0.5s;
}

.pays{
    list-style: circle;
    transition-duration: 0.5s;
}

.pays:hover, .continent:hover{
    font-size:30px;
}


/************************* BAS DE PAGE ******************************/
button{
    position: fixed;
    background: transparent;
    right: 20px;
    cursor: pointer;
    font-size: 350%;
    color: rgb(39, 255, 1);
    border: none;
    bottom: 40px;
}
    button:hover{
        color: rgb(184, 253, 81);
        transition: 0.8s;
    }

footer{
    background-color: black;
    height: 30px;
}






